.home-portfolio-prev-arrow,
.home-portfolio-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #009AF6;
 font-weight: 300;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 40px;
  border-radius: 50%;
  border: 1px solid #009AF6;
}
.home-portfolio-prev-arrow:hover,
.home-portfolio-next-arrow:hover {
  
  background-color: #009AF6;
  color: white;
 
}

.home-portfolio-prev-arrow {
    top: -30px;
    right: 200px;
   
  }
  
  .home-portfolio-next-arrow {
    top: -30px;
    right: 150px;
  }

  @media (max-width : 768px) {

    .home-portfolio-prev-arrow {
        top: -30px;
        right: 60px;
      
      }
      
      .home-portfolio-next-arrow {
        top: -30px;
        right: 15px;
      }
  }
  @media (max-width : 425px) {
    .home-portfolio-prev-arrow,
    .home-portfolio-next-arrow {
    
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 30px;
     
    }
    .home-portfolio-prev-arrow {
        top: -30px;
        right: 40px;
      
      }
      
      .home-portfolio-next-arrow {
        top: -30px;
        right: 5px;
      }
  }